* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: auto;
}

#html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}


/* container */

/* làm phần xin chào tên người dùng */

#container {
    width: 100%;
    height: 1400px;
}

.welcome_text {
    width: 100%;
    height: 103px;
    padding-top: 23px;
}

.username_background {
    width: 100%;
    height: 103px;
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
}

.username_text {
    display: flex;
    width: 544px;
    height: 103px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; 
    color: #747474;

    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-left: 57px;
}

/* thông tin người dùng */
.user_info {
    display: flex;
    height: 1758px;
    flex-direction: column;
    align-items: center;
    gap: 116px;
    flex-shrink: 0;
    position: relative;
    top: 22px;
}

.user_info_kind {
    width: 1316px;
    height: 205px;
    flex-shrink: 0;
    border-radius: var(--spacing-0, 0px);
}

.user_info_kind p {
    margin-bottom: 24px;
}

.user_info_kind p:first-child{
    display: flex;
    width: 381px;
    height: 61px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--mu-en, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.user_info_kind p:nth-child(2) {
    color: #AB3F3F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    padding-left: 38px;
    position: absolute;
    top: 50px;
}

.user_info_kind p:nth-child(3) {
    color: var(--mu-en, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.user_info_kind p:nth-child(4) {
    color: #AB3F3F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    position: absolute;
    top: 85px;
    left: 400px;
}


.user_info_kind p:nth-child(5) {
    color: var(--mu-en, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.user_info_kind p:nth-child(6) {
    color: #AB3F3F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    position: absolute;
    top: 129px;
    left: 400px;
}

.user_info_kind p:nth-child(7) {
    color: var(--mu-en, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.user_info_kind p:nth-child(8) {
    color: #AB3F3F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    position: absolute;
    top: 173px;
    left: 500px;
}

.user_info_kind p:nth-child(9) {
    color: #AB3F3F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    top: 173px;
    left: 600px;
}

.line11 {
    width: 184.011px;
    height: 0px;
    background-color: #A9A9A9;
}

.user_info_kind--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 184px;
    border-left: 1px solid #A9A9A9;
    top: 18px;
    right: 50%;

}

.user_info_kind p:nth-child(10) {
    position: absolute;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    top: 20px;
    left: 54%;
}

.user_info_kind p:nth-child(11) {
    color: #E32525;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    top: 20px;
    left: 60%;
}


.uudai_list {
    position: absolute;
    top: 50px;
    left: 56%;
    padding-top: 12px;
}

.uudai_list li {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 30px;
}

/* user level */
.user_info_level {
    width: 100%;
    height: 100px;
    position: absolute;
    right: -47px;
    top: 188px;
}

.level_line1 {
    width: 100px;
    height: 5px;
    background-color: #D9D9D9;
    position: absolute;
    top: 55%;
    left: 99px;
}

.thanhvien_circle {
    position: absolute;
    top: 50%;
    left: 83px;
}

.level_line2 {
    width: 100px;
    height: 5px;
    background-color: #D9D9D9;
    position: absolute;
    top: 55%;
    left: 199px;
}

.bac_circle {
    position: absolute;
    top: 50%;
    left: 183px;
}

.vang_circle {
    position: absolute;
    top: 50%;
    left: 283px;
}

.level_line3 {
    width: 100px;
    height: 5px;
    background-color: #D9D9D9;
    position: absolute;
    top: 55%;
    left: 295px;
}


.bachkim_circle {
    position: absolute;
    top: 50%;
    left: 383px;
}

.level_line4 {
    width: 100px;
    height: 5px;
    background-color: #D9D9D9;
    position: absolute;
    top: 55%;
    left: 395px;
}

.kimcuong_circle {
    position: absolute;
    top: 50%;
    left: 483px;
}

.thanhvien_p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    top: 75%;
    left: 54px;
}

.bac_p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    top: 75%;
    left: 179px;
}

.vang_p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    top: 75%;
    left: 273px;
}

.bachkim_p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    top: 75%;
    left: 360px;
}

.kimcuong_p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    top: 75%;
    left: 456px;
}

.user_modify {
    width: 100%;
    height: 512px;
    border-top: 1px solid #A9A9A9;
}

.user_modify_option {
    display: flex;
    padding-left: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-left: 156px;
    padding-top: 60px;
}

.thongtin_a {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inder;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.donhang_a {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inder;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    opacity: 0.35;
}

.doimk_a {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inder;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    opacity: 0.35;
}

.dangxuat_a {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inder;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.user_modify_frame {
    display: flex;
    width: 373px;
    height: 435px;
    padding-left: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    flex-shrink: 0;
    position: absolute;
    top: 383px;
    left: 36%;
}


/* thông tin người dùng */
.user_input_address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.user_diachi {
    color: var(--mu-en, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.user_dcnguoidung {
    width: 345px;
    color: var(--mu-en, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}

.user_input_birthday {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.user_ngaysinh {
    color: var(--mu-en, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.user_dob {
    color: var(--mu-en, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    padding: 0 8px;
}

.user_input_phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.user_sdt {
    color: var(--mu-en, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.user_phonenumber {
    color: var(--mu-en, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    padding: 0 8px;
}

.user_input_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.user_hoten {
    color: var(--mu-en, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.user_fullname {
    color: var(--mu-en, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    padding: 0 8px;
}


.user_modify_button {
    text-decoration: none;
    outline: none;
    display: flex;
    width: 140px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-4, 16px);
    position: absolute;
    right: 650px;
    top: 800px;
    border-radius: var(--spacing-5, 20px);
    background: #BFDDFF;
    transition: opacity .2s ease;
    cursor: pointer;
    border: none;
}

.user_modify_button p {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inder;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.user_modify_frame input {
    padding: 10px 10px;
    outline: none;
    border-bottom: solid 1px #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 500px;
}

